force-app/main/default/flows/GoogleReCaptchaFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Setup</name>
        <label>Setup</label>
        <locationX>134</locationX>
        <locationY>16</locationY>
        <assignmentItems>
            <assignToReference>SiteKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6LfXgYIUAAAAAG6JWAWN2XUzXvlpkN0hu8y6x1On</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HostUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://customer-connect-9256-dev-ed.lightning.force.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VfUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://customer-connect-9256-dev-ed--c.visualforce.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reCAPTCHA</targetReference>
        </connector>
    </assignments>
    <interviewLabel>GoogleReCaptchaFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GoogleReCaptchaFlow</label>
    <processType>Flow</processType>
    <screens>
        <name>reCAPTCHA</name>
        <label>reCAPTCHA</label>
        <locationX>135</locationX>
        <locationY>138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <fields>
            <name>GoogleReCaptcha</name>
            <extensionName>c:GoogleReCaptcha</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sitekey</name>
                <value>
                    <elementReference>SiteKey</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hosturl</name>
                <value>
                    <elementReference>HostUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vfurl</name>
                <value>
                    <elementReference>VfUrl</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isValid</assignToReference>
                <name>valid</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>138</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WhatHappened</name>
            <fieldText>My State: {!isValid}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Setup</startElementReference>
    <status>Active</status>
    <variables>
        <name>HostUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VfUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
